# Byte-compiled / cache files
__pycache__/

*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Flask instance folder
instance/

# Database
*.sqlite3
*.db

# IDEs / Editors
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
